@model PiesListViewModel

        @foreach (var pie in Model.Pies)
        {
            <h1>@Model.CurrentDirectory</h1>
            <div>
                <h2>@pie.Name</h2>
                <h3>@pie.Price.ToString("c")</h3>
                <h4>@pie.Category.CategoryName</h4>
            </div>
        }
